@import url("https://fonts.googleapis.com/css2?family=Public+Sans:wght@300;400;500;600;700&display=swap");

//font family

//Shades

$primary: #059669;
$primary-darker: #065f46;
$primary-darker2: #047857;
$primaryLighter: #99bbff;
$primary-subtle: #f1fef7;

$secondary: #fdfbee;

$dark1: #121127;
$dark2: #545463;
$dark3: #7a7a86;
$dark4: #c7c9d9;
$dark5: #a0a0a9;
$dark6: #a1a9b8;

$light1: #e5e5eb;
$light2: #f3f3f6;
$light3: #f6f5f6;
$light4: #fbfafa;

$error: #ff3b3b;
$warning: #ffcc00;
$info: #444bd3;

$custom-colors: (
	"primary-darker": $primary-darker,
	"primary-darker2": $primary-darker2,
	"primaryLighter": $primaryLighter,
	"primary-subtle": $primary-subtle,

	"dark1": $dark1,
	"dark2": $dark2,
	"dark3": $dark3,
	"dark4": $dark4,
	"dark5": $dark5,
	"dark6": $dark6,

	"light1": $light1,
	"light2": $light2,
	"light3": $light3,
	"light4": $light4,

	"error": $error,
	"warning": $warning,
	"info": $info,
);

@import "../../node_modules/bootstrap/scss/functions";

@import "../../node_modules/bootstrap/scss/variables";
@import "../../node_modules/bootstrap/scss/mixins";

// Merge the maps
$theme-colors: map-merge($theme-colors, $custom-colors);

@import "../../node_modules/bootstrap/scss/bootstrap.scss";
///
// @import "node_modules/bootstrap/scss/bootstrap";
